@import url(main.css);
@import url(header.component.css);
@import url(menu.component.css);
@import url(icons.css);

.card {
  -webkit-box-shadow: var(--ct-box-shadow);
  box-shadow: var(--ct-box-shadow);
  margin-bottom: 1.5rem;
}